# Discord
DISCORD_TOKEN=your_discord_bot_token_here
DISCORD_USER_ID=your_discord_user_id_here
DISCORD_GUILD_ID=optional_target_guild_id

# Discord OAuth2
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=

# Redis
REDIS_URL=redis://localhost:6379

# Server
PORT=6770
